html {
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
}

.body {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'VT323', monospace;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    justify-items: center;
}


.shoppingList {
    display: flex;
}


.shoppingList div {
    display: flex;
    padding-bottom: 10px;
}

.shoppingList input[type='checkbox'] {
    -webkit-appearance: none;
    width: 25px;
    height: 19px;
    border: 2px solid coral;
    transition: all .3s ease-in-out;
}

.shoppingList input[type='checkbox']:checked {
    transform: rotateZ(180deg);
    background: #C85F31;
}


.shoppingList .labelItems {
    font-size: large;
    padding-left: 20px;
    font-family: 'Yeseva One', cursive;
}

.shoppingList .strikethrough {
    font-size: large;
    padding-left: 20px;
    font-family: 'Yeseva One', cursive;
    text-decoration: line-through;
}


.shoppingList .shoppingItemCategory {
    padding-left: 10px;
    font-family: 'VT323', monospace;
}
.itemList {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 15px;
}

.itemList h2 {
    font-size: 1.2em;
}

.divForTypes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 15px;
    font-family: 'VT323', monospace;
}

 footer {
    font-family: 'Yeseva One', cursive;
}