html {
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
}

.body {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'VT323', monospace;
}

 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
 }

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    justify-items: center;
}

.buttons {
    display: inline-block;
}

.buttons button {
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 20px;
    background-color: #C85F31;
    border: none;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 1.3em;
    transition: all 0.5s linear;
}

.buttons .btnDefaultList {
    background-color: darkslategrey;
}

.buttons .btnClearAllList {
    background-color: cadetblue;
}

.buttons button:active {
        /*transform: scale(1.2);*/
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    /* Moving button 4px to y-axis */
}

.btnDefaultList:active, .btnDefaultList:hover {
    background-color: seagreen ;
}

.btnClearAllList:active, .btnClearAllList:hover {
    /*transform: scale(1.2);*/
    background-color: powderblue;
}

.btnClearChecked:active, .btnClearChecked:hover {
    background-color: #E66465;
}

.shoppingList {
    display: flex;
    padding: 0 50px;
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
}

.shoppingList ul {
    margin-left: -20px;
}

.shoppingList div {
    display: flex;
    padding: 5px ;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 1s ease-in-out;
}

.shoppingList div:hover {
    transform: scale(1.05);
    background-color: #F4F4F8;
}


.shoppingList input[type='checkbox'] {
    -webkit-appearance: none;
    width: 25px;
    height: 19px;
    border: 2px solid coral;
    transition: all .3s ease-in-out;
}

.shoppingList input[type='checkbox']:checked {
    transform: rotateZ(180deg);
    background: #C85F31;
}


.shoppingList .labelItems {
    font-size: large;
    padding-left: 20px;
    font-family: 'Yeseva One', cursive;
}

.shoppingList .shoppingItemCategory {
    padding-left: 10px;
    font-family: 'VT323', monospace;
}

.shoppingList .strikethrough {
    text-decoration: line-through;
}

.selectionHeading {
    padding-top: 15px;
    font-family: 'VT323', monospace;
    font-size: 1.3em;
}

.selectionHeading h2 {
    margin: 10px;
}

.itemList {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 15px 40px;
    background-color: whitesmoke;
}

.itemList h2 {
    font-size: 1.2em;
    margin: 0px;
}

.divForTypes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 15px;
    font-family: 'VT323', monospace;
}

.divForTypes input[type='checkbox']{
    transition: all 0.5s linear;
}

.divForTypes input[type='checkbox']:hover {
    transform: scale(1.3);
}

.itemList li {
    padding-bottom: 5px;
    font-size: 20px;
}

@media screen and (min-width: 600px) {
    .itemList {
        max-width: 800px;
        column-gap: 20px;
    }
    .itemList h2 {
        width: 200px;
        font-size: 1.3em;
    }
    .divForTypes {
        font-size: 1.2em;
    }
}

 footer {
    font-family: 'Yeseva One', cursive;
    text-align: center;
    margin-top: auto;
}